@charset "utf-8";
/*--1006-1903-*/
html,body{margin:0; padding:0; border:none;}
body{font-family: Verdana, Microsoft JhengHei;}
/*--藝見哈瑪星-*/
#Exhi-Show_content{position:relative; width:96%; height:auto; background:#6C3600; margin-bottom:40px; padding:2%;}
#Exhi-Show_content_buttonbox{width:94%; padding:1%; position:absolute;}
/*--首頁-主視覺-*/
#Exhi-Show_visual{max-width:100%; padding-top: 56%; background: url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/visual_bg2_lay.jpg) #fff 100% 100% no-repeat;background-size:cover;}
@media only screen and (max-width: 800px){
#Exhi-Show_visual{max-width:100%; padding-top: 112%; background: url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/visual_bg2.jpg) #fff 100% 100% no-repeat;background-size:cover;}
}
/*--------------------首頁按鈕--------------------*/
/*programs-0.7*/
.Exhi-Show_index_button_programs{width:16%; padding-top:11.2%; display:block; float:left;  background: url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/button_programs_2.gif) 0% 100% no-repeat; background-size:cover;}
/*MAP-0.726*/
.Exhi-Show_index_button_map{ width:16%; padding-top:11.616%; display:block; float:right; background: url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/button_map_2.gif) 0% 100% no-repeat; background-size:cover;}
/*about-0.2238*/
.Exhi-Show_index_button_about{ display:block; position:absolute; margin-top:-5.4%; margin-left:-2%; width:20%; padding-top:4.476%; background: url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/button_about.png) 0% 0% no-repeat; background-size:cover;}
@media only screen and (max-width: 800px){
#Exhi-Show_content_buttonbox{width:92%; padding:2%;}
/*programs-0.7*/
.Exhi-Show_index_button_programs{width:28%; padding-top:19.6%; }
/*MAP-0.726*/
.Exhi-Show_index_button_map{width:28%; padding-top:20.328%;}
/*about-0.224*/
.Exhi-Show_index_button_about{ margin-left:-1.7%; margin-top:-8%; width:30%; padding-top:6.72%;}
}
/*--------------------首頁按鈕--------------------*/
/*--------------------另頁按鈕--------------------*/
/*programs-0.7*/
.Exhi-Show_button_programs{width:16%; padding-top:11.2%; display:block; float:left; background: url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/button_programs_2.gif) 0% 100% no-repeat; background-size:cover;}
/*MAP-0.726*/
.Exhi-Show_button_map{width:16%; padding-top:11.616%; display:block; float:right; background: url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/button_map_2.gif) 0% 100% no-repeat; background-size:cover;}
/*about-0.224*/
.Exhi-Show_button_about{ display:block; position:absolute; margin-left:-2%; margin-top:-5.4%; width:20%; padding-top:4.48%; background: url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/button_about.png) 0% 0% no-repeat; background-size:cover;}
@media only screen and (max-width: 800px){
/*programs-0.7*/
.Exhi-Show_button_programs{width:28%; padding-top:19.6%;}
/*MAP-0.726*/
.Exhi-Show_button_map{width:28%; padding-top:20.328%;}
/*about-0.224*/
.Exhi-Show_button_about{margin-left:-2%; margin-top:-14%; width:40%; padding-top:8.96%;}
}
/*--------------------另頁按鈕--------------------*/
/*--------------------版型--------------------*/
/*頭-0.186*/
#Exhi-Show_header{max-width:100%; padding-top:18.66%; background: url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/header_bg.gif) 100% 100% no-repeat;background-size:cover;}
#head-icon/*7.17*/{display:block; width:16.73%; padding-top:12%; margin-left:2%; margin-top:-17%; background:url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/head-icon.gif) 0% 100% no-repeat; background-size:cover;}
/*主*/
#Exhi-Show_main{max-width:100%; padding:0% 3% 2% 3%; margin-top:-0.5%; background-color:#80B552; }
/*腳*/
#Exhi-Show_footer{max-width:100%; padding-top:18.46%; margin-top:-0.5%; background:url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/footer_bg.gif) #80B552 100% 100% no-repeat;background-size:cover;}
/*---------總表連結----------*/
.date_item {display:block; float:left; width:21%; margin:.7%; background-color:#fff; padding:1%; border-radius:0.5em; border:solid 1px #4C8E37;}
.date_item:hover {background-color:#FFF462; text-decoration:none; color:#D71518; border:solid 1px #FFF462;}
.date_item_time { font-size:15px; line-height:20px; height:20px; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-bottom:7px; font-family: Verdana, Microsoft JhengHei;}
.date_item_title {font-size:18px; line-height:18px; height:18px; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-bottom:7px; font-family: Verdana, Microsoft JhengHei;}
.date_item img {width:100%;}
.date_item_txt {font-size:15px; line-height:18px; height:36px; color:#000; padding-right:.8em; display:block; position:relative; overflow:hidden; margin:0; font-family: Verdana, Microsoft JhengHei;}
.date_item_txt:after {font-size:.8em; line-height:.8em; content:"…"; position:absolute; bottom:0.3em; right:0; color:#000}
#programs-links img{ width:auto; max-width:40vmax; height:12vmax; }
.img-link{float:left; width:98%; height:12vmax;overflow:hidden; margin-bottom:0.5em;}
.img-link img{margin-left:-50%;}
.imgBox{display:inline-block;/*讓imgBox的大小會跟img一致*/position:relative; left: 50%;/*將左邊界置中*/}
@media only screen and (max-width: 800px){
#Exhi-Show_header{padding-top:29%;background: url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/header_bg.gif) center top no-repeat;background-size:cover;}
#head-icon/*7.17*/{display:block; width:25%; padding-top:18%; margin-left:2%; margin-top:-26%; background:url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/head-icon.gif) 0% 100% no-repeat; background-size:cover;}
#Exhi-Show_main{padding:0% 2%;}
.date_item {width:95%; margin:1% 0%; padding:2%}
.date_item_time .date_item_title .date_item_txt {margin:1% 0%;}
#programs-links img{ width:auto; max-width:100vmax; height:30vmax; }
.img-link{float:left; width:98%; height:30vmax;overflow:hidden;}
}
/*---------總表連結----------*/
/*左nav*/
#Exhi-Show_main_nav{float:left; width:18%; padding:0 2% 0 0;}
/*nav連結*/
.Exhi-Show_main_nav_pro/*40*/{display:block; margin:1em auto;  width:90%; padding-top:36%; background: url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/nav-pro.gif) 0% 100% no-repeat; background-size:cover;}
.Exhi-Show_main_nav_map{display:block; margin:1em auto; width:90%; padding-top:36%; background: url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/nav-map.gif) 0% 100% no-repeat; background-size:cover;}
#Exhi-Show_main_nav iframe{ border:solid 1px #4C8E37; margin-top:1em; height:450px;}

/*
//左nav-日曆
#Exhi-Show_main_nav_date{font-size:15px; text-align:center; display:block; float:left; width:100%; margin-bottom:10px;}
//左nav-日曆圖
.date_https://i0.wp.com/img.somethingfun.tw/ecomobility/img//39.66%{display:table; margin-left:-5%; width:70%; padding-top:27.76%; background: url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/datenav.gif) 0% 0% no-repeat; background-size:cover; margin-bottom:15px;}
//左nav-日曆-週
.Exhi-Show_main_nav_date_week{display:block; float:inherit; width:12%; line-height:15px; height:15px; margin:5px auto; color:#FFF462; border:solid 1px #80B552; }
//左nav-日曆-日連結
#Exhi-Show_main_nav_date a{display:block; float:left; width:12%; height:30px;line-height:30px; margin:5px 0; color:#fff; border:solid 1px #80B552;}
#Exhi-Show_main_nav_date a:hover {background-color:#FFF; text-decoration:none; color:#4C8E37; border:solid 1px #4C8E37;}
//左nav-地點圖
.location_https://i0.wp.com/img.somethingfun.tw/ecomobility/img//39.66%{display:table; margin-left:-5%; width:70%; padding-top:27.76%; background: url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/locnav.gif) 0% 0% no-repeat; background-size:cover; margin-bottom:15px;}
//左nav-地點
#Exhi-Show_main_nav_location{display:block; float:left; width:100%; margin-bottom:15px;}
//左nav-地點
#Exhi-Show_main_nav_location a{font-size:15px; line-height:normal; display:block; margin:10px 0; padding:5px; color:#fff; border:solid 1px #fff;border-radius:10px;}
#Exhi-Show_main_nav_location a:hover {background-color:#FFF; text-decoration:none; color:#4C8E37; border:solid 1px #4C8E37;}
@media only screen and (max-width: 800px){
//左nav
#Exhi-Show_main_nav{width:100%; padding:0;}
//左nav-日曆
#Exhi-Show_main_nav_date{width:100%; float:left;}
.date_https://i0.wp.com/img.somethingfun.tw/ecomobility/img//39.66%{width:30%; padding-top:11.89%; margin:0 0 1% 0; }
.Exhi-Show_main_nav_date_week{width:9%; padding:1%; margin:1%;}
#Exhi-Show_main_nav_date a{width:9%; padding:1%; margin:1%;}
#october{margin-top:-10%; float:right;text-align:right}
//左nav-地點
#Exhi-Show_main_nav_location{width:100%; float:left;}
#Exhi-Show_main_nav_location a{padding:1% 2%; margin:2%;}
.location_https://i0.wp.com/img.somethingfun.tw/ecomobility/img//39.66%{width:30%; padding-top:11.89%; margin:0 0 1% 0;}
}
*/


/*右內容*/
#Exhi-Show_main_content{float:right; width:76%; padding:2%; background-color:#fff; margin-bottom:1em;}
#october{width:100%; margin-bottom:15px; text-align:left;}
.Exhi-Show_content_time{float:left; color:#333; font-family: Verdana, Microsoft JhengHei;}
.Exhi-Show_content_loc{float:right; background-color:#50A035; color:#fff; padding:0 0.5em; line-height:1.6em; height:1.6em; border-radius:0.5em; margin-top:0.5em; font-family: Verdana, Microsoft JhengHei; }
.Exhi-Show_content_title{width:100%; display:inline-block; float:left; margin:0.5em 0;font-size:24px ;line-height:normal; color:#148EB2;font-family: Verdana, Microsoft JhengHei;}
#item_ul{display:inline-block; margin:0 0 1em 0; padding:0; width:100%; color:#A41518; font-family: Verdana, Microsoft JhengHei;}
#item_ul li{background:url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/item2.gif) no-repeat left top; list-style:none; padding-left:16px; font-size:16px; line-height:20px; margin-bottom:3px; font-family: Verdana, Microsoft JhengHei;}
.Exhi-Show_content_text{width:100%; display:inline-block; margin-bottom:1em; float:left; text-align:justify;font-size:16px; line-height:24px; color:#333; font-family: Verdana, Microsoft JhengHei;}
/*文章內圖-單欄*/
.column1{width:100% ; margin-bottom:0.5em;}
/*文章內圖-雙欄*/
.column2{width:49% !important; margin:0.25%;}
.img-des{display:inline-block; width:100%; font-size:13px; line-height:17px; text-align:justify; margin-bottom:1em; font-family: Verdana, Microsoft JhengHei; }
.note{display:inline-block; width:100%; color:#DD4C33;font-size:14px; line-height:19px; text-align:justify; margin-bottom:1em; font-family: Verdana, Microsoft JhengHei; }

/*列表*/
.select_list_single{display:block; float:left; width:96%; padding:1.5% 2%; margin-bottom:1em;border-radius:0.5em;
font-size:16px; line-height:20px; background-color:rgba(128,181,82,0.40); color:#4C8E37; }
.select_list_single:hover{color:#fff; background:#40BDCF;}
.select_list_single_bar_left{width:100%; display:inline-block; margin:0 0 0.3em 0; color:#333; font-family: Verdana, Microsoft JhengHei; }
.select_list_single_bar_right{width:100%; display:inline-block; font-size:1.3em; line-height:1.5em; margin-bottom:0.2em;font-family: Verdana, Microsoft JhengHei;}
.select_list_single_bar_right .note{color:#333; font-size:0.8em; line-height:1.6em; margin-bottom:0; font-family: Verdana, Microsoft JhengHei;}
.select_list_single .Exhi-Show_content_text{margin:0; font-family: Verdana, Microsoft JhengHei;}
.blank{display:block; float:left; width:100%; height:.4em;}
.select_list_single img{ width:100%; margin-top:0.5em; border-radius:0.5em;}

/*團隊介紹*/
#about_team{width:90%; padding:5%; display:inline-block; background-color:#FFFAB8;border-radius:0.5em;}
#about_team span{ display:block;}
.teamname{float:left; font-size:20px; width:75%; margin:0 5% 5px 0; color:#148EB2;font-family: Verdana, Microsoft JhengHei;}
.teamtext{float:left; font-size:15px; line-height:21px; width:75%; margin:0 5% 15px 0; color:#333;text-align:justify;font-family: Verdana, Microsoft JhengHei;}
.teamphoto{float:right; width:19%; border:1px solid #148EB2;border-radius:1em;margin:0 0 15px 0;}
#about_team hr, #programs-links hr{height:0px; border:none; border-bottom:1px solid #148EB2; margin:0 0 15px 0;}


@media only screen and (max-width: 800px){
/*左nav*/
#Exhi-Show_main_nav{width:100%; padding:0;}
#Exhi-Show_main_nav iframe{height:300px; margin-bottom:2em;}
/*右內容*/
.Exhi-Show_main_nav_pro/*40*/{display:block; float:left; margin:4% 5%; width:40%; padding-top:16%;}
.Exhi-Show_main_nav_map{display:block; float:left; margin:4% 5%; width:40%; padding-top:16%;}
#Exhi-Show_main_content{width:96%; padding:2%;}
.Exhi-Show_content_loc{float:left; height:auto;}
.Exhi-Show_content_time{float:none; display:block;width:96%;}

/*文章內圖-雙欄轉單欄*/
.column2{width:100% !important; margin:0 0 0.5em 0;}
/*團隊介紹*/
.teamname{width:100%; margin-bottom:8px;}
.teamtext{width:100%; margin-bottom:8px;}
.teamphoto{width:50%; float:left;}
}

/*--------------------------共用樣式--------------------------*/
.Exhi-Show_clear{margin:0;padding:0;border:0;clear:both;}
.Exhi-Show_column{display:inline-block; width:100%; margin:0;}
#building{width:100%; background:url(https://i0.wp.com/img.somethingfun.tw/ecomobility/img/building.gif) #80B552 50% 50% no-repeat;}
/*-按鈕-*/
.changebackground_lay:hover{background-position:100% 100%;}
.changebackground_stand:hover{background-position:0% 100%;}
/*-字級-*/
.fs20px{font-size:20px;line-height:20px; margin-right:0.2em;}
.fs14x{font-size:1.4em;line-height:1.4em;}
.fs16x{font-size:1.6em;line-height:1.6em; margin-right:0.4em;}
.fs25x{font-size:2.5em;line-height:2.5em;}
.fs15{font-size:1.5vmin;line-height:1.5vmin;}
.fs18{font-size:1.8vmin;line-height:1.8vmin;}
.fs25{font-size:2.5vmin;line-height:2.5vmin;}


/*青 #40BDCF 暗青 #148EB2 紅 #D71518 深紅 #A41518  淺綠底 #80B552 綠 #50A035 深綠 #4C8E37 黃 #FFF462 咖啡 #6C3600*/
.red {color:#D71518}
.blue {olor:#40BDCF}
.darkblue {color:#148EB2}
.green{ color:#50A035}

/* map_api */
.gmap {width:98%; padding:1%; height:440px; margin:0 auto; background-color:#6C3600; font-family: Verdana, Microsoft JhengHei;}
.gmap div,.gmap a,.gmap h3,.gmap span,.gmap p {font-family: Verdana, Microsoft JhengHei; }
.gmap_controls{width:100%; margin:15px 0 15px 0;}
.mapmenu .ullist li{ width:24%; float:left; margin:0 0.5% 1% 0.5%; font-size:15px;}
.mapmenu .ullist li a{ font-size:15px; line-height:25px; padding:5px; color:#392000!important; background-color:#CCDF8C!important; border-radius:5px; display:block;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.ullist li a span{font-family: Verdana, Microsoft JhengHei;}
.mapmenu .ullist li.active a,.menu .ullist li a:hover{color:#fff!important; background-color:#DD4C33!important;}
.gm-style,.gm-style-iw{color:#392000; font-size:16px; font-family: Verdana, Microsoft JhengHei;}
.weekblank{margin-right:0.6em;}
.gm-style-iw h3 {margin:10px 0;color:#D71518}
.gmap p {margin:0;}
.gm-style-iw img {max-height:100px;}
.gm-style-iw a {display:inline-block; margin:15px 0; padding:8px; border-radius:8px; background-color:#50A035; color:#fff; text-decoration:none;}
.gm-style-iw a:hover {background-color:#A41518;}


@media only screen and (max-width: 800px){
.mapmenu .ullist li{ width:98%; float:left; margin:0 1% 1% 1%; font-size:15px;}
}
